# Node.js dependencies
node_modules/*

# Build output
/build
/dist

# Testing
/coverage

# Production environment variables
.env.production.local

.env

# Development environment variables
.env.local
.env.development.local
.env.test.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# IDE/editor specific
.vscode/
.idea/

# Optional: Yarn 2 (if you're using it)
/.yarn/
.yarnrc.yml

# Optional: Vite cache (if you want to ignore it)
.vite/

# Optional: TypeScript (if you're using it)
/tsconfig.tsbuildinfo
